# ---------------------------
# Environment & Build
# ---------------------------
.env
*.env
venv/
__pycache__/
*.egg-info/
.vscode/
spark-warehouse/

# ---------------------------
# Data & Logs & Docs
# ---------------------------
data/
logs/
predictions_excel/
*.log
*.txt

# ---------------------------
# Python Artifacts
# ---------------------------
*.pyc
*.pyo
*.pyd

# ---------------------------
# Tests & Temporary Scripts
# ---------------------------
tests/
etl/sql_test.py

# ---------------------------
# Config / Optional
# ---------------------------
config.py

# ---------------------------
# Legacy or Deprecated Code
# ---------------------------
# Old Airflow or API versions
dags/aviationstack/
dags/opensky/
dags/opensky*.py

# Old ETL scripts
etl/bronze/
etl/gold/
etl/iceberg/inspect_iceberg_table.py
etl/iceberg/temp_sep_update.py
etl/silver/avstack/
etl/silver/silver_load.py
etl/silver/silver_sql_queries.py
etl/inspect_data_structure.py
etl/sql_utilities.py

# Other legacy components
flightweather_dbt/
infra/
jars/
models/
scripts/avstack/clean_up.py
scripts/modeling/email_predictions.py
scripts/openmeteo/
scripts/opensky/

# ---------------------------
# Documentation & Drafts
# ---------------------------
draft_*.md
API_schema.ipynb
draft_README.md
pagination_log.txt
flight_db.session.sql
